/* Add your custom CSS styles here */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; 
}


button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Additional styling for checkbox */
input[type="checkbox"] {
    margin-right: 5px;
}

.edit-profile-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.user-info-form,
.user-products-list {
    width: 48%; /* Adjust as needed */
}
