<!-- dashboard.html -->

{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard - SavannahLink{% endblock %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Wg/AfTVz76j" crossorigin="anonymous">
    <!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js" integrity="sha384-iuZR/R/Z84DMWSKnNzsoebQJndm9L5h5a1j5I2ZPfGwEIlbz1z3Bp2zp4+J1MzNB" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Wg/AfTVz76j" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container mt-5">
        <h1 class="text-center">Dashboard</h1>
        <p class="text-center">Welcome, {{ request.user.username }}!</p>

        {% include 'market/menu_bar.html' %}
        
        {% include '_banner_ad.html' %}

        {% include 'market/product_card.html' %}
     
        <div class="text-center m-4">
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
    
</body>  
{% endblock %}