<!-- edit_profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile - SavannahLink{% endblock %}

{% block content %}
    {% include 'market/menu_bar.html' %}

    <div class="edit-profile-container">
        <!-- User Info Form -->
        <div class="user-info-form">
            <h1>Edit Profile ({{ request.user.username }})</h1>
            <form method="post" id="user-profile-form">
                {% csrf_token %}
                {{ user_profile_form.as_p }}
                <button type="submit" name="user-info-submit">Save Changes</button>
            </form>
        </div>
        
        {% include 'market/User_Products_List.html' %}
        
    </div>

    
{% endblock %}
