<!-- marketplace.html -->

{% extends 'base.html' %}

{% block title %}Marketplace - SavannahLink{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Marketplace</h1>
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Marketplace!</h1>
            <p class="lead">Connect directly with buyers and showcase your livestock products.</p>
            <hr class="my-4">
            <p>Explore opportunities, manage your listings, and grow your market reach.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Get Started</a>
        </div>
        
        <!-- Modal -->
        {% include 'market/modal.html' %}
        
        
        {% include '_banner_ad.html' %}
        
        <!-- Product Listings -->
        {% include 'market/product_card.html' %}
        
    </div>
{% endblock %}