{% load static %}

<div class="container-fluid">
    <div class="row py-3 border-bottom">
        <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
            <div class="search-bar row bg-light p-2 my-2 rounded-4">
                <div class="col-11 col-md-7">
                    <form id="search-form" class="text-center" action="#" method="post">
                        <input type="text" class="form-control border-1 bg-transparent" placeholder="Search for agricultural products" />
                        <div class="search-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
                            </svg>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end ms-auto">
            <div class="support-box text-end d-none d-xl-block">
                <span class="fs-6 text-muted">For Support?</span>
                <h5 class="mb-0">+254 703527474</h5>
            </div>
        
            <ul class="d-flex justify-content-end list-unstyled m-0">
                <!-- dashboard.html -->
                <li>
                    <a href="{% url 'edit_profile' %}" class="rounded-circle bg-light p-2 mx-1">
                        <img src="{% static 'images/user.png' %}" alt="account" width="24" height="24">
                    </a>
                </li>
                <li>
                    <a href="#" class="rounded-circle bg-light p-2 mx-1">
                        <img src="{% static 'images/heart.png' %}" alt="favourites" width="24" height="24">
                    </a>
                </li>
                <li>
                    <a href="#" class="rounded-circle bg-light p-2 mx-1">
                        <img src="{% static 'images/shopping-cart.png' %}" alt="shopping_cart" width="24" height="24">
                    </a>
                </li>
                <li class="d-lg-none">
                    <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                        <img src="{% static 'images/shopping-cart.png' %ty6huy}" alt="cart" width="24" height="24">
                    </a>
                </li>
                <li class="d-lg-none">
                    <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                        <img src="{% static 'images/search.png' %}" alt="cart" width="24" height="24">
                    </a>
                </li>
            </ul>
        
            <div class="cart text-end d-none d-lg-block dropdown">
                <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                    <span class="fs-6 text-muted dropdown-toggle">Your Cart</span>
            
                    {% if cart_items %}
                        <span class="cart-total fs-5 fw-bold">${{ cart_total }}</span>
                        {% for item in cart_items %}
                            <p>{{ item.product.name }} - Quantity: <span id="quantity-{{ item.product.id }}">{{ item.quantity }}</span></p>
                        {% endfor %}
                    {% else %}
                        <span class="cart-total fs-5 fw-bold">$0.00</span>
                        <p>Your cart is empty.</p>
                    {% endif %}
            
                </button>
            </div>
            
        </div>                
    </div>

    <div class="row py-3">
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center">
            <nav class="main-menu d-flex navbar navbar-expand-lg">

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <div class="offcanvas-header justify-content-center">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">

                        <select class="filter-categories border-0 mb-0 me-5">
                            <option>Shop by Departments</option>
                            <option>Crops</option>
                            <option>Livestock</option>
                            <option>Equipment</option>
                        </select>

                        <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                            <li class="nav-item active">
                                <a href="{% url 'crops' %}" class="nav-link">Crops</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'livestock' %}" class="nav-link">Livestock</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'equipment' %}" class="nav-link">Equipment</a>
                            </li>
                            <li class="nav-item">
                                <a href="#brand" class="nav-link">Brand</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sale" class="nav-link">My Sales</a>
                            </li>
                            <li class="nav-item">
                                <a href="#blog" class="nav-link">Blog</a>
                            </li>
                        </ul>

                    </div>

                </div>

            </nav>
            <div class="d-none d-lg-block">
                <a href="#" target="_blank" class="nav-link btn-coupon-code">
                    <img src="{% static 'images/giftbox.png' %}" alt="gift icon" width="20px" height="20px">
                    <strong class="ms-2 text-dark">Special Offers</strong>
                </a>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        // Event listener for category dropdown
        $('#filter-categories').change(function () {
            var selectedCategory = $(this).val();

            // Handle the selected category
            if (selectedCategory === 'Crops') {
                window.location.href = '{% url "crops" %}';
            } else if (selectedCategory === 'Livestock') {
                window.location.href = '{% url "livestock" %}';
            } else if (selectedCategory === 'Equipment') {
                window.location.href = '{% url "equipment" %}';
            } else {
                // Add any other cases or default behavior here
                console.log('Do something else for', selectedCategory);
            }
        });
    });
</script>