<hr>
        <div class="bootstrap-tabs product-tabs">        
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                    <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                        {% for product in products %}
                        <div class="col card-box">
                            <div class="card border-0">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%">
                                <div class="card-info m-0">
                                    <h5 class="info-title m-0">{{ product.name }}</h5>
                                    <p class="info-price m-0">${{ product.price }}</p>
                                </div>
                                <p class="card-text">{{ product.description }}</p>
                                <button class="card-btn" onclick="addToCart('{{ product.id }}')">Add to Cart</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


<script>
    function addToCart(productId) {
        console.log('Adding to cart:', productId);

        $.ajax({
            type: 'POST',
            url: '{% url "add_to_cart" %}',
            data: {
                'product_id': productId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                alert('Product added to cart!');
            },
            error: function () {
                // Handle error, e.g., show an alert
                alert('Error adding to cart. Please try again.');
            }
        });
    }
</script>
