<!-- _banner_ad.html -->

<div class="banner-ad large bg-info block-1">
    <div class="row banner-content p-5">
        <div class="content-wrapper col-md-7">
            <div class="categories my-3">Fresh from the Farm</div>
            <h3 class="display-4">Quality Agricultural Products</h3>
            <p>Explore a wide range of fresh and organic agricultural products directly from local farms. Cultivated with care and dedication.</p>
            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
        </div>
        <div class="img-wrapper col-md-5">
            <img src="https://th.bing.com/th/id/R.954fc4e473e26a369d6fb8146cae8cf1?rik=OtGxq0xxiMCzFA&pid=ImgRaw&r=0" alt="Agricultural Product" class="img-fluid">
        </div>
    </div>
</div>
